body {
    background: hotpink;
    color: rgb(58, 58, 58);
    text-align: left;
    display: grid;
    min-height: 100vh;
   
    margin: 0;
}

.subpage {
    background: #fff;
}
h1 {
    font-family: miller-banner, serif;
    text-align: center;
    color: rgb(53, 52, 52);
    text-transform: uppercase;
    margin-top: 200px;
    text-decoration: none;
}
ul li {
    text-align: left;
    margin-top: 0;
}

p {
    color: white;
    font-size: 24px;
    font-family: cora, sans-serif;
    text-align: left;
}
 a {
    text-decoration: none;
    text-align: left;
}

a, span {
    color: hotpink;
}
