/* -------------------------
CSS TABLE OF CONTENTS

#GLOBALS
  # RESET
  # COLORS
  # TYPOGRAPHY
        # BODY
        # HEADINGS
         # LINKS
         # LISTS
         # BLOCK QUOTES
         #HELPERS
 #MEDIA
   #IMAGEES
#COMPORNENTS/UI ELEMENTS
   #BUTTONS
#BASE LAYOUT
    #CONTENER
    #MEDIA QUERIES
    #GRID SYSTEM
 # SITE STRUCTURE
    #SITE HEADER
        #SITE ID
    #SITE MAIN
    #SITE FOOTER
    #SITE NAVIGATION
        #TOGGLE NAV
#SECTIONS
#SUB PAGES


    ------------------------ */
    /* GLOVAL RESETS */

    body { margin: 0;}
    * { box-sizing: border-box; }



/* GLOBAL COLORS */
body  {
    background: rgb(252, 2, 127); 
    background-image: linear-gradient(to bottom,#f801ba, #fa90e3 ); 
    color: rgb(58, 58, 58); 
    /* background: rgba(0,0,0,1); */
    /* color: #fff; */
  }
  a {
      color: rgba (0, 51, 102, 1);
  }

/* GLOVAL TYPOGRAPHY */

body {
    font-family: cora, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;

}
 h2, h3, h4 {
    font-weight: nomal;
    font-family: miller-banner, serif;
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    text-decoration: none;
    color: pink;
}
p {
    max-width: 35em;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

/* GLOVAL MEDIA */
img {
    max-width: 100%;
    height: auto;
}

/* GLOVAL LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* -------------SITE STRUCTURAL STYLES -------------- */
body {
color: rgba (255, 255, 255, 1);
display: flex;
flex-direction: column;
min-height: 100vh;
}

/* SITE HEADER */
.site-header {
    padding: 1em;
    width: 100%;
    color: rgba(255, 255, 255, 1); 
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.site-header a {
    color: rgba(255, 255, 255, 1);
    display: flex;
   
}
@media (min-width: 768px){
    .site-header {
        display: flex;
        justify-content: space-between;
    }
}

/* SITE ID */
.site-id h1 {
    text-align: center;
    font-size: 2em;
    margin: 0.25em;
}

/* SITE NAV */
.site-nav ul,.site-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.25em 0 0 0;
}
.site-nav li a {
display: block;
padding: 0.5em 0.75em;
}
.site-main {
    background-color: white;
}
main {
    flex-grow: 1;
}

/* SITE FOOTER */
.site-footer a {
color: rgba(255, 255, 255, 1);
}
.social-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-nav a {
    padding: 1em;
}












