
/* GLOVAL RESETS */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}



/* GLOBAL COLORS */
body  {
    color: rgb(58, 58, 58); 
  
  }
  a {
      color: rgba (0, 51, 102, 1);
  }

/* GLOVAL TYPOGRAPHY */

body {
    font-family: cora, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;

}
 h2, h3, h4 {
    font-weight: nomal;
    font-family: miller-banner, serif;
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    text-decoration: none;
    color: pink;
}


/* LAYOUT */
body {
    display: grid;
   
}

/* SITE STRUCTURE */
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: #f801ba;
}

.hero  {
    background-color: white;
}
.site-main {
    background-color: white;

}


/* SITE NAV */

.site-nav ul {
    display: flex;
    list-style: none;
    /* margin: 0; */
    padding: 0;
}
.site-nav a {
    display: block;
    padding: 1em;
    /* border: 1px solid green; */
}




/* SECTION HERO */

 .hero h1 { 

   text-align: center;
}
.hero p { 

    text-align: center;
}


/* SECTION ID CONTAINER */

#container {
    display: flex;
}

aside {
    flex: 1;
    max-width: 30%;
}
.primary {
    flex: 2;
    max-width: 70%;
}
.site-main ul {
list-style: none;
}