
/* GLOVAL RESETS */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

/* GLOBAL COLORS */
body  {
    background: rgb(252, 2, 127); 
    background-image: linear-gradient(to bottom,#f801ba, #fa90e3 ); 
    color: rgb(58, 58, 58); 
    /* background: rgba(0,0,0,1); */
    /* color: #fff; */
  }
  a {
      color: rgba (0, 51, 102, 1);
  }

/* GLOVAL TYPOGRAPHY */

body {
    font-family: cora, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;

}
 h2, h3, h4 {
    font-weight: nomal;
    font-family: miller-banner, serif;
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    text-decoration: none;
    color: pink;
}
p {
    max-width: 35em;
}

/* SITE STRUCTURE */
.site-header {
    display: flex;
    justify-content: space-between;
}

section.primary {
    background: white;
}
/* FOR TESTING ONLY */
/* *, body { 
    background: rgba(0,0,0,.1);
    border: 1px solid black;
    
} */