/* -------------------------
CSS TABLE OF CONTENTS

#GLOBALS
  # RESET
  # COLORS
  # TYPOGRAPHY
        # BODY
        # HEADINGS
         # LINKS
         # LISTS
         # BLOCK QUOTES
         #HELPERS
 #MEDIA
   #IMAGEES
#COMPORNENTS/UI ELEMENTS
   #BUTTONS
#BASE LAYOUT
    #CONTENER
    #MEDIA QUERIES
    #GRID SYSTEM
 # SITE STRUCTURE
    #SITE HEADER
        #SITE ID
    #SITE MAIN
    #SITE FOOTER
    #SITE NAVIGATION
        #TOGGLE NAV
#SECTIONS
#SUB PAGES


    ------------------------ */
 /* GLOVAL RESETS */

    body { margin: 0;}
    * { box-sizing: border-box; }


/* TYPOGRAPHY */
/* REFERENCE 

   62.5% => 10px
   68.8% => 11px
   62.5% => 10px
   62.5% => 10px
   62.5% => 10px
   62.5% => 10px
   62.5% => 10px */

body {
    font-family: cora, sans-serif;
    font-size: 100%; /* This sets the value of 1em */
    line-height: 1.4;
    background-color: wheat;
    color: rgb(59, 58, 58);

}
 h1, h2, h3, h4,h5, h6 {
     margin: .5em 0;
    font-weight: nomal;
    font-family: miller-banner, serif;
}

h1 {
    font-size: 3em; /* 48px based on a 16px em */
    line-height: 1;
}
h2{
    font-size: 2.25em; /* 36px based on a 16px em */
    line-height: 1.1;
}
h3 {
    font-size: 1.5em; /* 24px based on a 16px em */
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em; /* 21px based on a 16px em */
    line-height: 1.3;
}
h5 {
    font-size: 1.125em; /* 18px based on a 16px em */
 
}
h6 {
    font-size: 1em; /* 16px based on a 16px em */
   
}

/* PARAGRAPHS */
p {
    margin: 0 0 0.5em 0;
    max-width: 38em;
}
/* LINKS */
h1 a {
    font-family: cora, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(194, 47, 140);
}
a:hover {
    text-decoration: none;
    color:rgb(192, 113, 163);
}

/* BUTTON */
.button,button {
    display: inline-block;
    background-color:rgb(39, 23, 20);
    color: white;
    padding: 1em 2em;
    border-radius: 2em;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1;
    text-align: center;
}
button h4 {
    font-family: cora, sans-serif;
    border-radius: 2em;
  
}
.button:hover {
color: white;
background-color:rgb(39, 23, 20);
}
.button.alt {
    background-color: transparent;
    color:rgb(39, 23, 20);
    border: 1px solid rgb(39, 23, 20);
}
.button.alt:hover {
    color: white;
    background-color: transparent;
    border: 1px solid rgb(39, 23, 20);
    }

/* BLOCK QUOTES */
blockquote {
    font-size: 1.142em;
    margin: 1.5em 0;
    padding: 1.5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}












