body {
    background: hotpink;
    font-family: cora, sans-serif;
    text-align: center;
    display: grid;
    
   
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(53, 52, 52);
    text-transform: uppercase;
    margin-top: 200px;
    text-decoration: none;
}
ul li {
    text-align: left;
    margin-top: 0;
}

p {
    color: white;
    font-size: 24px;
    font-family: miller-banner, serif;
    text-align: left;
}
 a {
    text-decoration: none;
    text-align: left;
}